<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="volunAct">

<select id="selectVolunteerList"
        parameterType="VolunActivityDTO"
        resultType="VolunActivityDTO">
	
	SELECT
	    Volun_Act_No, <!-- 봉사번호 -->
	    Volun_Act_Title, <!-- 봉사제목 -->
	    Volun_Act_Recru_Begin, <!-- 모집시작 -->
	    Volun_Act_Recru_End, <!-- 모집종료 -->
	    Volun_Act_Proc_Begin, <!-- 봉사시작a -->
	    Volun_Act_Proc_End, <!-- 봉사 종료일 -->
	    Volun_Act_Point,  <!-- 봉사포인트 -->
	    Volun_Act_Act_Type,  <!-- 활동분야 -->
	    Volun_Act_Age_Group, <!-- 참여가능연령 -->
	    Volun_Act_Address, <!--봉사주소s-->
	
	    <![CDATA[
	    CASE
	        WHEN SYSDATE < Volun_Act_Recru_Begin THEN '모집예정'
	        WHEN SYSDATE BETWEEN Volun_Act_Recru_Begin AND Volun_Act_Recru_End THEN '모집중'
	        WHEN SYSDATE > Volun_Act_Recru_End THEN '모집완료'
	    END AS RECRU_STATUS
	    ]]>
	
	FROM TBL_VOLUN_ACTIVITY


    <where>

        <!--
            기본 조건
            현재 날짜가 모집 종료일보다 작은 경우만 조회
            즉 모집이 끝나지 않은 봉사활동만 목록에 표시
        -->
        <![CDATA[
        Volun_Act_Recru_End >= SYSDATE
        ]]>

        <!--
            활동 분야 검색
            0은 전체이므로 조건을 적용하지 않음
            1~5 값이 들어오면 해당 봉사유형만 조회
        -->
        <if test="volunActActType != null and volunActActType != 0">
            AND Volun_Act_Act_Type = #{volunActActType}
        </if>


        <!--
            참여 가능 연령 검색
            0은 전체이므로 조건을 적용하지 않음
        -->
        <if test="volunActAgeGroup != null and volunActAgeGroup != 0">
            AND Volun_Act_Age_Group = #{volunActAgeGroup}
        </if>


        <!--
            모집 상태 검색
            OPEN : 모집중
            CLOSE : 모집마감
        -->
        <if test="recruitStatus != null and recruitStatus == 'OPEN'">
            AND Volun_Act_Recru_End >= SYSDATE
        </if>

        <if test="recruitStatus != null and recruitStatus == 'CLOSE'">
			<![CDATA[
			AND Volun_Act_Recru_End < SYSDATE
			]]>
        </if>


        <!--
            봉사 기간 검색
            사용자가 선택한 날짜가
            봉사 시작일 ~ 봉사 종료일 사이에 있는 활동 조회
        -->
<!--         <if test="volunDate != null and volunDate != ''">
        	<![CDATA[
            AND Volun_Act_Proc_Begin <= #{volunDate}
            AND Volun_Act_Proc_End >= #{volunDate}
            ]]>
        </if>
 -->

        <!--
            키워드 검색
            제목 또는 포인트 기준으로 검색 가능
        -->

        <!-- 제목 검색 -->
        <if test="searchType == 'title' and keyword != null and keyword != ''">
			AND Volun_Act_Title LIKE CONCAT('%', #{keyword}, '%')
        </if>

        <!-- 포인트 검색 -->
        <if test="searchType == 'point' and keyword != null and keyword != ''">
            AND Volun_Act_Point = #{keyword}
        </if>

    </where>

    <!-- 최신 등록 순 정렬 -->
ORDER BY Volun_Act_No DESC
OFFSET #{offset} ROWS FETCH NEXT #{size} ROWS ONLY

</select>
<select id="selectVolunteerCount"
        parameterType="VolunActivityDTO"
        resultType="int">

    SELECT COUNT(*)
    FROM TBL_VOLUN_ACTIVITY

    <where>

        <![CDATA[
        Volun_Act_Recru_End >= SYSDATE
        ]]>

        <if test="volunActActType != null">
            AND Volun_Act_Act_Type = #{volunActActType}
        </if>

        <if test="volunActAgeGroup != null">
            AND Volun_Act_Age_Group = #{volunActAgeGroup}
        </if>

        <if test="recruitStatus == '1'">
            <![CDATA[
            AND SYSDATE BETWEEN Volun_Act_Recru_Begin AND Volun_Act_Recru_End
            ]]>
        </if>

        <if test="recruitStatus == '2'">
            <![CDATA[
            AND SYSDATE < Volun_Act_Recru_Begin
            ]]>
        </if>

        <if test="recruitStatus == '3'">
            <![CDATA[
            AND SYSDATE > Volun_Act_Recru_End
            ]]>
        </if>

        <if test="organization != null and organization != ''">
            AND Volun_Act_Org_Name LIKE '%' || #{organization} || '%'
        </if>

        <if test="searchType == 'title' and keyword != null and keyword != ''">
            AND Volun_Act_Title LIKE '%' || #{keyword} || '%'
        </if>

    </where>

</select>

<select id="selectVolunDetail" parameterType="int"
        resultType="VolunActivityDTO">

    SELECT 
        V.Volun_Act_No              AS volunActNo,
        V.Volun_Act_Title           AS volunActTitle,
        V.Volun_Act_Recru_Begin     AS volunActRecruBegin,
        V.Volun_Act_Recru_End       AS volunActRecruEnd,
        V.Volun_Act_Proc_Begin      AS volunActProcBegin,
        V.Volun_Act_Proc_End        AS volunActProcEnd,
        V.Volun_Act_Point           AS volunActPoint,
        V.Volun_Act_Recru_Max_Count AS volunActRecruMaxCount,
        V.Volun_Act_Address         AS volunActAddress,
        V.Volun_Act_Address_Detail  AS volunActAddressDetail,
        V.Volun_Act_Detail          AS volunActDetail,

        /* 모집 상태 */
        CASE 
        <![CDATA[
            WHEN SYSDATE < V.Volun_Act_Recru_Begin THEN '모집예정'
            WHEN SYSDATE > V.Volun_Act_Recru_End THEN '마감'
            ELSE '모집중'
        END AS recruStatus
		]]>
    FROM TBL_VOLUN_ACTIVITY V
    WHERE V.Volun_Act_No = #{volunActNo}

</select>
</mapper>