<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="volunAct">

 <select id="selectVolunteerList"
          parameterType="VolunActivityDTO"
          resultType="VolunActivityDTO">
    SELECT *
    FROM (
        SELECT ROWNUM RN, A.*
        FROM (
            SELECT
                VA.Volun_Act_No            AS volunActNo,
                VA.Volun_Act_Title         AS volunActTitle,
                O.ORGAN_NAME               AS orgName,
                VA.Volun_Act_Recru_Begin   AS volunActRecruBegin,
                VA.Volun_Act_Recru_End     AS volunActRecruEnd,
                VA.Volun_Act_Proc_Begin    AS volunActProcBegin,
                VA.Volun_Act_Proc_End      AS volunActProcEnd,
                VA.Volun_Act_Point         AS volunActPoint,
                VA.Volun_Act_Address       AS volunActAddress,

                /* 모집 상태 */
                CASE
                    WHEN SYSDATE BETWEEN VA.Volun_Act_Recru_Begin AND VA.Volun_Act_Recru_End THEN '모집중'
                    WHEN SYSDATE &lt; VA.Volun_Act_Recru_Begin THEN '모집예정'
                    ELSE '모집마감'
                END AS recruStatus,

                /* 활동 타입 */
                CASE VA.Volun_Act_Act_Type
                    WHEN 1 THEN '환경'
                    WHEN 2 THEN '의료'
                    WHEN 3 THEN '교육'
                    WHEN 4 THEN '생활·편의'
                    WHEN 5 THEN '문화·체육·예술'
                    ELSE '기타'
                END AS actTypeName,

                /* 연령대 */
                CASE VA.Volun_Act_Age_Group
                    WHEN 1 THEN '청소년'
                    WHEN 2 THEN '청년'
                    WHEN 3 THEN '직장인'
                END AS ageGroupName

            FROM TBL_VOLUN_ACTIVITY VA
            LEFT JOIN TBL_ORGAN O
                ON VA.Volun_Act_Organ_No = O.ORGAN_NO

            <where>

                <if test="volunActActType != null and volunActActType != 0">
                    VA.Volun_Act_Act_Type = #{volunActActType}
                </if>

                <if test="volunActAgeGroup != null and volunActAgeGroup != 0">
                    AND VA.Volun_Act_Age_Group = #{volunActAgeGroup}
                </if>

                <!-- 모집 상태 -->
                <if test="recruitStatus == '1'">
                    AND SYSDATE BETWEEN VA.Volun_Act_Recru_Begin AND VA.Volun_Act_Recru_End
                </if>

                <if test="recruitStatus == '2'">
                    AND SYSDATE &lt; VA.Volun_Act_Recru_Begin
                </if>

                <if test="recruitStatus == '3'">
                    AND SYSDATE &gt; VA.Volun_Act_Recru_End
                </if>

                <if test="organization != null and organization != ''">
                    AND O.ORGAN_NAME LIKE '%' || #{organization} || '%'
                </if>

                <if test="searchType == 'title' and keyword != null and keyword != ''">
                    AND VA.Volun_Act_Title LIKE '%' || #{keyword} || '%'
                </if>

                <if test="searchType == 'point' and keyword != null and keyword != ''">
                    AND VA.Volun_Act_Point = #{keyword}
                </if>

            </where>

            ORDER BY VA.Volun_Act_No DESC

        ) A
        WHERE ROWNUM &lt;= #{endRow}
    )
    WHERE RN &gt; #{startRow}

</select>


<select id="selectVolunteerCount"
        parameterType="VolunActivityDTO"
        resultType="int">

    SELECT COUNT(*)

    FROM TBL_VOLUN_ACTIVITY VA
    LEFT JOIN TBL_ORGAN O 
    ON VA.Volun_Act_Organ_No = O.Organ_No

    <where>
        1 = 1

        <if test="volunActActType != 0">
            AND VA.Volun_Act_Act_Type = #{volunActActType}
        </if>

        <if test="volunActAgeGroup != 0">
            AND VA.Volun_Act_Age_Group = #{volunActAgeGroup}
        </if>

        <if test="recruitStatus == '1'">
            <![CDATA[
            AND SYSDATE BETWEEN VA.Volun_Act_Recru_Begin AND VA.Volun_Act_Recru_End
            ]]>
        </if>

        <if test="recruitStatus == '2'">
            <![CDATA[
            AND SYSDATE < VA.Volun_Act_Recru_Begin
            ]]>
        </if>

        <if test="recruitStatus == '3'">
            <![CDATA[
            AND SYSDATE > VA.Volun_Act_Recru_End
            ]]>
        </if>

        <if test="organization != null and organization != ''">
            AND O.Organ_Name LIKE CONCAT('%', #{organization}, '%')
        </if>

    </where>

</select>

<!--봉사활동 상세  -->
<select id="selectVolunDetail" parameterType="int"
        resultType="VolunActivityDTO">
    SELECT 
        V.Volun_Act_No              AS volunActNo,
        V.Volun_Act_Title           AS volunActTitle,
        TO_CHAR(V.Volun_Act_Recru_Begin, 'YYYY-MM-DD') AS volunActRecruBegin,
        TO_CHAR(V.Volun_Act_Recru_End, 'YYYY-MM-DD')   AS volunActRecruEnd,
        TO_CHAR(V.Volun_Act_Proc_Begin, 'YYYY-MM-DD')  AS volunActProcBegin,
        TO_CHAR(V.Volun_Act_Proc_End, 'YYYY-MM-DD')    AS volunActProcEnd,
        V.Volun_Act_Point           AS volunActPoint,
        V.Volun_Act_Begin_Time      AS volunActBeginTime,
        V.Volun_Act_End_Time        AS volunActEndTime,
        V.Volun_Act_Act_Type        AS volunActActType,
        V.Volun_Act_Age_Group       AS volunActAgeGroup,
        V.Volun_Act_Organ_No        AS volunActOrganNo,
        V.Volun_Act_Recru_Max_Count AS volunActRecruMaxCount,
        V.Volun_Act_Address         AS volunActAddress,
        V.Volun_Act_Address_Detail  AS volunActAddressDetail,
        V.Volun_Act_Detail          AS volunActDetail,
        O.Organ_Name                AS orgName,
        CASE 
            WHEN SYSDATE <![CDATA[ < ]]> V.Volun_Act_Recru_Begin THEN '모집예정'
            WHEN SYSDATE <![CDATA[ > ]]> V.Volun_Act_Recru_End THEN '마감'
            ELSE '모집중'
        END AS recruStatus
    FROM TBL_VOLUN_ACTIVITY V
    JOIN TBL_ORGAN O
      ON V.Volun_Act_Organ_No = O.Organ_No
    WHERE V.Volun_Act_No = #{volunActNo}
</select>

<!--봉사 신청  -->
<insert id="applyVolunteer" parameterType="VolunApplyDTO">
    MERGE INTO TBL_VOLUN_APPLY A
    USING (
        SELECT
            #{volunActNo} AS VOLUN_ACT_NO,
            #{userNo} AS USER_NO
        FROM DUAL
    ) B
    ON (
        A.VOLUN_ACT_NO = B.VOLUN_ACT_NO
        AND A.USER_NO = B.USER_NO
    )
    WHEN MATCHED THEN
        UPDATE SET
            A.VOLUNACT_APPLYSTATUS = 1,
            A.VOLUNACT_APPLYDATE = SYSDATE
    WHEN NOT MATCHED THEN
        INSERT (
            VOLUN_ACT_NO,
            USER_NO,
            VOLUNACT_APPLYDATE,
            VOLUNACT_APPLYSTATUS,
            VOLUNACT_ATTENDANCE
        )
        VALUES (
            #{volunActNo},
            #{userNo},
            SYSDATE,
            1,
            0
        )
</insert>
<!--철회  -->
<update id="cancelVolunteer" parameterType="VolunApplyDTO">
    UPDATE TBL_VOLUN_APPLY
    SET VOLUNACT_APPLYSTATUS = 0
    WHERE VOLUN_ACT_NO = #{volunActNo}
      AND USER_NO = #{userNo}
</update>
</mapper>