@charset "UTF-8";
/* 전체 레이아웃 */

body {
    min-height: 100vh;
}

.l-main {
    display: flex;
    min-height: 100vh;
}


/* 메인위에 헤더 */
.header {
    padding-bottom: 30px;

    border-bottom: 1px solid #ddd;

    margin-bottom: 100px;
}

/* 메인 내용영역*/

.l-content {
    flex: 1;
    background: #f0f0f0;
    border: 1px solid black;

    display: flex;
    flex-direction: column;

    width: 100%;
    padding: 30px;
    /* justify-content: center; */
}



/* 컨텐츠 박스 */

#content-area{

background:white;
border-radius:5px;

display:flex;
align-items:center;
gap:10px;

padding:20px;
justify-content: center;
border:1px solid black;
margin-bottom: 150px;
}


/* 검색 select */

.search-item{

    padding:10px;
    
    border:1px solid black;
}


/* input */

.c-input{
    width: 400px;
    border:1px solid black;
}



.c-button{
    width: 100px;
}

.c-list--8col .c-list__header,
.c-list--8col .c-list__row{

  grid-template-columns:2cm 1fr 1fr 1fr 1fr 1fr 1fr 1fr;

}

/* 페이지 네이션 중간 정렬 */
.page{

    justify-items: center;
    margin: 20px;
}

/* 목록에 포인터 */
.c-list__col{
    cursor:pointer;
}