<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
	version="4.0">
	<display-name>Oulim</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>index.xhtml</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
		<welcome-file>default.xhtml</welcome-file>
	</welcome-file-list>


	<!-- Encoding 매핑 -->
	<filter>
		<filter-name>encodingFilter</filter-name>
		<filter-class>com.oulim.app.common.filter.EncodingFilter</filter-class>
	</filter>

	<filter-mapping>
		<filter-name>encodingFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	
	<!-- LoginCheck 매핑 -->
<!--  	<filter>
		<filter-name>loginCheckFilter</filter-name>
		<filter-class>com.oulim.app.common.filter.LoginCheckFilter</filter-class>
	</filter>
 -->
<!--	<filter-mapping>
		<filter-name>loginCheckFilter</filter-name>
		<url-pattern>/app/mypage/*</url-pattern>
	</filter-mapping>
	
	<filter-mapping>
		<filter-name>loginCheckFilter</filter-name>
		<url-pattern>/app/volunteer-activity/*</url-pattern>
	</filter-mapping>
	
	<filter-mapping>
		<filter-name>loginCheckFilter</filter-name>
		<url-pattern>/app/volunteer-management/*</url-pattern>
	</filter-mapping>
	
	<filter-mapping>
		<filter-name>loginCheckFilter</filter-name>
		<url-pattern>/app/kkomi/*</url-pattern>
	</filter-mapping>

	<filter-mapping>
		<filter-name>loginCheckFilter</filter-name>
		<url-pattern>/app/community/*</url-pattern>
	</filter-mapping> -->
	
	<!-- LoginCheck 매핑 -->
	
	<!-- Servlet 매핑 -->
	<servlet>
		<servlet-name>Kkomi</servlet-name>
		<servlet-class>com.oulim.app.kkomi.controller.KkomiFrontController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Kkomi</servlet-name>
		<url-pattern>*.kko</url-pattern>		
	</servlet-mapping>
	<servlet>
		<servlet-name>Community</servlet-name>
		<servlet-class>com.oulim.app.community.controller.CommunityFrontController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Community</servlet-name>
		<url-pattern>*.commu</url-pattern>		
	</servlet-mapping>
	<!-- <servlet>
		<servlet-name>Admin</servlet-name>
		<servlet-class>com.oulim.app.admin.controller.AdminFrontController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Admin</servlet-name>
		<url-pattern>*.adm</url-pattern>		
	</servlet-mapping> -->
	<servlet>
		<servlet-name>MyPage</servlet-name>
		<servlet-class>com.oulim.app.mypage.controller.MyPageFrontController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>MyPage</servlet-name>
		<url-pattern>*.mp</url-pattern>		
	</servlet-mapping>
	<servlet>
		<servlet-name>User</servlet-name>
		<servlet-class>com.oulim.app.user.controller.UserFrontController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>User</servlet-name>
		<url-pattern>*.usr</url-pattern>		
	</servlet-mapping>
	<servlet>
		<servlet-name>VolunAct</servlet-name>
		<servlet-class>com.oulim.app.volunteer.activity.controller.VolunActFrontController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>VolunAct</servlet-name>
		<url-pattern>*.va</url-pattern>		
	</servlet-mapping>
	<servlet>
		<servlet-name>VolunManage</servlet-name>
		<servlet-class>com.oulim.app.volunteer.management.controller.VolunManageFrontController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>VolunManage</servlet-name>
		<url-pattern>*.vm</url-pattern>		
	</servlet-mapping>
	<!-- Servlet 매핑 종료 -->
</web-app>