<?xml version="1.0" encoding="UTF-8"?>
<mapper namespace="communityFile">
	<!-- 게시글 이미지 추가 -->
	<insert id="insertImage" parameterType="FileDTO">
		Insert INTO tbl_Post_Image (Image_No,Post_No,Post_Img_System_Name, Post_Img_Origin_Name)
		VALUES(SEQ_TBL_POST_IMAGE.nextval, #{postNo}, #{postImgSystemName}, PostImgOriginName)
	</insert>
	
	<!-- 파일 조회 -->
	<select id="selectImage" parameterType="int" resultType="PostImageDTO">
		SELECT post_img_system_name, post_img_origin_name, post_no
		FROM tbl_post_image
		where post_no = #{postNo}
	</select> 
	
	<!-- 파일 삭제 -->
	<delete id="deleteImage" parameterType="int">
		DELETE FROM tbl_post_image
	 	WHERE post_no = #{postNo}
	</delete>
</mapper>