<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

	<properties resource="db.properties"></properties>
	
	<settings>
		<!-- 카멜케이스 매핑 설정 -->
		<setting name="mapUnderscoreToCamelCase" value="true"></setting>
		
		<!-- 쿼리 결과 필드가 null인 경우 누락되지 않도록 설정 -->
		<setting name="callSettersOnNulls" value="true"></setting>
		
		<!-- 쿼리에 보내는 파라미터가 null인 경우 오류가 발생하는 것을 방지 설정 -->
		<setting name="jdbcTypeForNull" value="NULL"></setting>
	</settings>

	<!-- DTO 별칭 설정 -->
	<typeAliases>
		<!-- user DTO Alias -->
		<typeAlias type="com.oulim.app.user.dto.UserDTO" alias="UserDTO"></typeAlias>
		<typeAlias type="com.oulim.app.user.dto.CurrencyDTO" alias="CurrencyDTO"></typeAlias>
		<typeAlias type="com.oulim.app.user.dto.OrganCertDTO" alias="OrganCertDTO"></typeAlias>
		<typeAlias type="com.oulim.app.user.dto.OrganDTO" alias="OrganDTO"></typeAlias>
		<typeAlias type="com.oulim.app.user.dto.LogPointDTO" alias="LogPointDTO"></typeAlias>
		
		<!-- kkomi DTO Alias -->
		<typeAlias type="com.oulim.app.kkomi.dto.KkomiDTO" alias="KkomiDTO"></typeAlias>
		<typeAlias type="com.oulim.app.kkomi.dto.RankingDTO" alias="RankingDTO"></typeAlias>
		<typeAlias type="com.oulim.app.kkomi.dto.RewardStorageDTO" alias="RewardStorageDTO"></typeAlias>
		<typeAlias type="com.oulim.app.kkomi.dto.UserMissionDTO" alias="UserMissionDTO"></typeAlias>
		<typeAlias type="com.oulim.app.kkomi.dto.RankingJoinDTO" alias="RankingJoinDTO"></typeAlias>
		<typeAlias type="com.oulim.app.kkomi.dto.KkomiJoinDTO" alias="KkomiJoinDTO"></typeAlias>
		
		<!-- community DTO Alias -->
		<typeAlias type="com.oulim.app.community.dto.CommunityCommentDTO" alias="CommunityCommentDTO"/>
		<typeAlias type="com.oulim.app.community.dto.CommunityPostDTO" alias="CommunityPostDTO"/>
		<typeAlias type="com.oulim.app.community.dto.CommunityPostJoinDTO" alias="CommunityPostJoinDTO"/>
		<typeAlias type="com.oulim.app.community.dto.PostImageDTO" alias="PostImageDTO"/>
		<typeAlias type="com.oulim.app.community.dto.PostLikeDTO" alias="PostLikeDTO"/>
		
		<!-- Volunteer DTO -->
		<typeAlias type="com.oulim.app.volunteer.dto.VolunActivityDTO" alias="VolunActivityDTO"></typeAlias>
		<typeAlias type="com.oulim.app.volunteer.dto.VolunApplyDTO" alias="VolunApplyDTO"></typeAlias>
		<typeAlias type="com.oulim.app.volunteer.dto.PointJoinDTO" alias="PointJoinDTO"></typeAlias>
		
		<!-- MyPage DTO  -->	
		<typeAlias type="com.oulim.app.mypage.dto.MyPageJoinDTO" alias="MyPageJoinDTO"></typeAlias>
		
		<!-- Admin DTO -->
		<typeAlias type="com.oulim.app.admin.dto.AdminDTO" alias="AdminDTO"></typeAlias>
	</typeAliases>

	<environments default="oracle">
		<environment id="oracle">
			<transactionManager type="JDBC"></transactionManager>
			<dataSource type="POOLED">
				<property name="driver" value="${db.driver}"></property>
				<property name="url" value="${db.url}"></property>
				<property name="username" value="${db.username}"></property>
				<property name="password" value="${db.password}"></property>
			</dataSource>
		</environment>
	</environments>
	
	<!-- Mapper.xml 등록 추후 필요 -->
	<mappers>
		<mapper resource="com/oulim/app/user/mapper/UserMapper.xml" />
		<mapper resource="com/oulim/app/volunteer/mapper/VolunteerManagementMapper.xml"/>
		<mapper resource="com/oulim/app/community/mapper/CommunityMapper.xml"/>
		<mapper resource="com/oulim/app/community/mapper/CommunityFileMapper.xml"/> 
 		<mapper resource="com/oulim/app/kkomi/mapper/KkomiMapper.xml"/> 
		<mapper resource="com/oulim/app/volunteer/mapper/VolunteerMapper.xml"/>
		<mapper resource="com/oulim/app/mypage/mapper/MyPageMapper.xml"/>
		<mapper resource="com/oulim/app/admin/mapper/AdminMapper.xml"/>
	</mappers>
</configuration>

