<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="adminboard">
	
   <!-- 전체 게시글 조회 -->
	<select id="selectPostAll" resultType="CommunityPostJoinLikeDTO">
		<![CDATA[
			SELECT * FROM (
			SELECT ROWNUM AS RNUM, subquery.*
			FROM (
				SELECT tcp.post_no,tcp.user_no, tcp.post_title, tcp.user_nickname, tcp.post_date, 
				(select count(post_like_no) from tbl_post_like tpl where tpl.post_no = tcp.post_no) as like_count
				FROM tbl_community_post tcp
				ORDER BY tcp.post_date DESC			
			) subquery
			) WHERE RNUM BETWEEN #{startRow} AND #{endRow}
		]]>
	</select>
	
		<!-- 게시글 상세 -->
	<select id="selectPost" parameterType="int" resultType="CommunityPostJoinLikeDTO">
	<![CDATA[
		SELECT tcp.post_no,tcp.user_no, tcp.post_title, tcp.user_nickname, tcp.post_date, tcp.post_content,
		tcp.post_view_count, 
		(select count(post_like_no) from tbl_post_like tpl where tpl.post_no = tcp.post_no) as like_count
		FROM tbl_community_post tcp
		where tcp.post_no = #{postNo}
	]]>
	</select>
	
		<!-- 게시글 삭제 -->
	<delete id="delete" parameterType="int">
		DELETE FROM tbl_community_post
		WHERE post_no = #{postNo}
	</delete>
	
	
<!--  -->

</mapper>