<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- mapper 에서 입력한 값과 비교  -->
<mapper namespace="admin"> 
<select id="login" 
parameterType="AdminDTO"
resultType="AdminDTO">
    SELECT *
    FROM tbl_admin_account
    WHERE admin_id = #{adminId}
      AND admin_pw = #{adminPw}
</select> 
</mapper>