<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- mapper 에서 입력한 값과 비교  -->
<mapper namespace="admin"> 
<select id="login" 
parameterType="AdminDTO"
resultType="int">
    SELECT admin_no
    FROM tbl_admin_account
    WHERE admin_id = #{adminId}
      AND admin_pw = #{adminPw}
</select>

<select id="selectStatistic" resultType="AdminStatisticDTO">
	SELECT 
	u.total_user,
	u.NOT_APPROVED_ORGAN_USER,
	u.total_organ_user,
	o.organ_count,
	ap.uncomplete_volun_act,
	va.TOTAL_VOLUN_ACT 
	FROM
	(SELECT 
	count(*) AS total_user,
	count(CASE WHEN user_status = 2 AND user_type = 2 THEN 1 END) AS NOT_APPROVED_ORGAN_USER,
	count(CASE WHEN user_type = 2 THEN 1 END ) AS total_organ_user 
	FROM TBL_USER tu ) u, 
	(SELECT count(*) AS organ_count 
	FROM tbl_organ tbo) o,
	(SELECT count(DISTINCT tva.VOLUN_ACT_NO ) AS uncomplete_volun_act
	FROM TBL_VOLUN_APPLY tva WHERE tva.VOLUNACT_ATTENDANCE = 0) ap,
	(SELECT count(*) AS total_volun_act FROM tbl_volun_activity) va
</select> 

<select id="getUnApprovedMember" resultType="UserDTO">
	SELECT tu.user_no, tu.ORGAN_NAME, tu.user_name , tu.USER_ID , tu.USER_EMAIL 
		 FROM tbl_user tu
		WHERE tu.user_type = 2 AND tu.user_status = 2
</select>

<select id="getRequireApproveMember" parameterType="Map" resultType="AdminCompanyCertificationDTO">
	SELECT  rnum, user_no,user_name, organ_name, user_id, user_email, organ_no 
 	FROM (
 	 SELECT rownum as rnum, subquery.*
	 FROM
		(SELECT tu.user_no, tu.ORGAN_NAME, tu.user_name , tu.USER_ID , tu.USER_EMAIL , toc.ORGAN_NO 
		 FROM tbl_user tu
		LEFT JOIN TBL_ORGAN_CERT toc ON toc.USER_NO = tu.user_no
		WHERE tu.user_type = 2 AND tu.user_status = 2
		ORDER BY tu.user_no DESC
		) subquery
	) where rnum between #{startRow} and #{endRow}
</select>

<select id="getTotalRequireMember" resultType="int">
	SELECT COUNT(*) FROM TBL_USER tu
	WHERE tu.user_type = 2 AND tu.user_status = 2
</select>

<select id="getOrganUserCertDetail" parameterType="int" resultType="AdminCompanyCertificationDTO">
		SELECT tu.user_no, tu.ORGAN_NAME, tu.user_name , tu.USER_ID , tu.USER_EMAIL , tu.user_birth,
		toc.ORGAN_NO, tbo.organ_cert_num, toc.organ_file_system_name, toc.organ_file_original_name
		 FROM tbl_user tu
		LEFT JOIN TBL_ORGAN_CERT toc ON toc.USER_NO = tu.user_no
		JOIN TBL_ORGAN tbo on toc.organ_no = tbo.organ_no
		WHERE tu.user_no = #{userNo}
</select>

<update id="updateUserCert" parameterType="Map">
	Update tbl_user set user_status = 1, organ_no = #{organNo} where user_no = #{userNo}
</update>

<delete id="rejectCertification" parameterType="int">
	DELETE FROM TBL_USER WHERE user_no = #{userNo} and user_status = 2
</delete>

<select id="uncompleteVolunList" resultType="VolunActivityDTO">
		select * from
		(select rownum as rnum ,subquery.*
		from
		(SELECT tva.volun_act_no as volunActNo, tbo.organ_name as orgName, tva.volun_act_proc_end as volunActProcEnd, tva.volun_act_organ_no as volunActOrganNo
		FROM TBL_VOLUN_ACTIVITY tva 
		JOIN tbl_organ tbo ON tva.VOLUN_ACT_ORGAN_NO = tbo.ORGAN_NO 
		WHERE EXISTS (SELECT tva2.VOLUN_ACT_NO  FROM TBL_VOLUN_APPLY tva2 WHERE tva2.VOLUNACT_ATTENDANCE = 0 )
		ORDER BY tva.volun_act_proc_end) subquery
		)<![CDATA[ where rnum <= 5  
		]]>
</select>

<select id="findOrganUser" parameterType="int" resultType="UserDTO">
	select tu.user_No, tu.user_email
	from tbl_user tu
	where tu.organ_no = #{organNo} and tu.user_status=1
	order by tu.user_last_login
</select>
</mapper>