<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="adminPost">

		<!-- 조건 게시글 조회 -->
	<select id="select" parameterType="AdminBoardDTO" resultType="AdminBoardDTO">
 	<![CDATA[
        SELECT * FROM (
            SELECT ROWNUM AS rnum, subquery.*
            FROM (
                SELECT tcp.post_no,
                       tcp.user_no,
                       tcp.post_title,
                       tcp.user_nickname,
                       tcp.post_date,
                       (SELECT COUNT(post_like_no)
                          FROM tbl_post_like tpl
                         WHERE tpl.post_no = tcp.post_no) AS like_count
                FROM tbl_community_post tcp
    ]]>
                <where>
                    <if test="keyword != null and keyword != ''">
                        <choose>
                            <when test="searchType == 'title'">
                                tcp.post_title LIKE '%' || #{keyword} || '%'
                            </when>
                            <when test="searchType == 'writer'">
                                tcp.user_nickname LIKE '%' || #{keyword} || '%'
                            </when>
                            <when test="searchType == 'date'">
                            	tcp.post_date LIKE '%' || #{keyword} || '%'
                            </when>
                        </choose>
                    </if>
                </where>
    <![CDATA[
                ORDER BY tcp.post_date DESC
            ) subquery
        ) WHERE rnum BETWEEN #{startRow} AND #{endRow}
    ]]>
	</select>
	
	<!-- 게시글 상세 -->
	<select id="selectPost" parameterType="int" resultType="CommunityPostJoinDTO">
	<![CDATA[
		SELECT tcp.post_no,tcp.user_no, tcp.post_title, tcp.user_nickname, tcp.post_date, tcp.post_content,
		tcp.post_view_count, 
		(select count(post_like_no) from tbl_post_like tpl where tpl.post_no = tcp.post_no) as like_count,
		tpi.Post_Img_System_Name, tpi.Post_Img_Origin_Name
		FROM tbl_community_post tcp
		LEFT JOIN tbl_post_image tpi on tpi.post_no = tcp.post_no
		where tcp.post_no = #{postNo}
	]]>
	</select>
	
	
		<!-- 게시글 삭제 -->
	<delete id="delete" parameterType="int">
		DELETE FROM tbl_community_post
		WHERE post_no = #{postNo}
	</delete>
	
      
   <!-- 전체 게시글 조회 -->
   <select id="admin.selectAll" resultType="BoardListDTO">
   <![CDATA[
      SELECT * FROM (
         SELECT ROWNUM AS rnum, subquery.*
         FROM (
            SELECT m.member_number, m.member_id, b.board_number, b.board_title, 
               b.board_content, b.board_date, b.board_read_count
            FROM tbl_member m JOIN tbl_board b
            ON m.member_number = b.member_number
            ORDER BY b.board_date DESC
         ) subquery
      ) WHERE rnum BETWEEN #{startRow} AND #{endRow}
   ]]>
   </select>
</mapper>