<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="adminPost">

		<!-- 조건 게시글 조회 -->
		<select id="selectList"
		        parameterType="map"
		        resultType="com.oulim.app.community.dto.CommunityPostJoinDTO">
		    <![CDATA[
		        SELECT *
		        FROM (
		            SELECT ROWNUM AS rnum, subquery.*
		            FROM (
		                SELECT
		                    tcp.post_no AS postNo,
		                    tcp.user_no AS userNo,
		                    tcp.post_title AS postTitle,
		                    tcp.user_nickname AS userNickname,
		                    tcp.post_date AS postDate,
		                    tcp.post_view_count AS postViewCount,
		                    (
		                        SELECT COUNT(post_like_no)
		                        FROM tbl_post_like tpl
		                        WHERE tpl.post_no = tcp.post_no
		                    ) AS likeCount
		                FROM tbl_community_post tcp
		    ]]>
		                <where>
		                    <if test="keyword != null and keyword != ''">
		                        <choose>
		                            <when test="searchType == 'title'">
		                                tcp.post_title LIKE '%' || #{keyword} || '%'
		                            </when>
		                            <when test="searchType == 'writer'">
		                                tcp.user_nickname LIKE '%' || #{keyword} || '%'
		                            </when>
		                        </choose>
		                    </if>
		                </where>
		    <![CDATA[
		                ORDER BY tcp.post_date DESC
		            ) subquery
		        )
		        WHERE rnum BETWEEN #{startRow} AND #{endRow}
		    ]]>
		</select>
	
	<!-- 게시글 상세 -->
		<select id="selectPost"
		        parameterType="int"
		        resultType="com.oulim.app.community.dto.CommunityPostJoinDTO">
		    <![CDATA[
		        SELECT
		            tcp.post_no AS postNo,
		            tcp.user_no AS userNo,
		            tcp.post_title AS postTitle,
		            tcp.user_nickname AS userNickname,
		            tcp.post_date AS postDate,
		            tcp.post_content AS postContent,
		            tcp.post_view_count AS postViewCount,
		            (
		                SELECT COUNT(post_like_no)
		                FROM tbl_post_like tpl
		                WHERE tpl.post_no = tcp.post_no
		            ) AS likeCount,
		            tpi.post_img_system_name AS postImgSystemName,
		            tpi.post_img_origin_name AS postImgOriginName
		        FROM tbl_community_post tcp
		        LEFT JOIN tbl_post_image tpi
		            ON tpi.post_no = tcp.post_no
		        WHERE tcp.post_no = #{value}
		    ]]>
		</select>
	
	
		<!-- 게시글 삭제 -->
		<delete id="delete" parameterType="int">
		    DELETE FROM tbl_community_post
		    WHERE post_no = #{value}
		</delete>
	
      
   <!-- 전체 게시글 조회 -->
   <select id="selectAll" resultType="BoardListDTO">
   <![CDATA[
      SELECT * FROM (
         SELECT ROWNUM AS rnum, subquery.*
         FROM (
            SELECT m.member_number, m.member_id, b.board_number, b.board_title, 
               b.board_content, b.board_date, b.board_read_count
            FROM tbl_member m JOIN tbl_board b
            ON m.member_number = b.member_number
            ORDER BY b.board_date DESC
         ) subquery
      ) WHERE rnum BETWEEN #{startRow} AND #{endRow}
   ]]>
   </select>
</mapper>