<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mypage">
	<!-- 1. 마이페이지 진입 -->
	<select id="enterMyPage" parameterType="Map" resultType="int">
		SELECT count(*) FROM tbl_user WHERE user_no = #{userNo} AND user_pw = #{userPw}
	</select>


	<!-- 2. 내 정보 보기 -->

	<select id="userAllInfo" parameterType="int"
		resultType="MyPageJoinDTO">
		SELECT user_no, user_nickname, user_email, user_phone_num, user_pw,
		user_type, user_status
		FROM tbl_user
		WHERE user_no = #{userNo}
	</select>
	
	   <!-- 기업 마이페이지 정보 가져오기 -->
   <select id="organMyPageInfo" parameterType="int" resultType="MyPageJoinDTO">
    SELECT
        u.user_email,
        o.organ_name,
        o.organ_cert_num
    FROM tbl_user u
    JOIN tbl_organ o
      ON u.organ_no = o.organ_no
    WHERE u.user_no = #{userNo}
   </select>

	<select id="organAdditionalInfo" parameterType="int"
		resultType="MyPageJoinDTO">
		SELECT organ_no, organ_name, organ_cert_num
		FROM tbl_organ
		WHERE organ_no = #{organNo}
	</select>


	<select id="userSummaryInfo" parameterType="int"
		resultType="MyPageJoinDTO">

<![CDATA[
SELECT
    N.user_nickname AS userNickname,
    COUNT(A.VOLUN_ACT_NO) AS volunActNo,
    NVL(SUM(V.VOLUN_ACT_END_TIME - V.VOLUN_ACT_BEGIN_TIME), 0) AS totalVolunTime,
    (SELECT NVL(MAX(RANK_POINT), 0)
     FROM TBL_RANKING R
     WHERE R.USER_NO = N.USER_NO) AS rankPoint,
	(select nvl(kkomi_lev,1) from tbl_kkomi k where n.user_no =k.user_no) as kkomiLev,
    (SELECT NVL(SUM(TOTAL_AMOUNT), 0)
     FROM TBL_CURRENCY C
     WHERE C.USER_NO = N.USER_NO) AS totalAmount
FROM TBL_USER N
LEFT JOIN TBL_VOLUN_APPLY A
    ON N.USER_NO = A.USER_NO
LEFT JOIN TBL_VOLUN_ACTIVITY V
    ON A.VOLUN_ACT_NO = V.VOLUN_ACT_NO
WHERE N.USER_NO = #{userNo}  
GROUP BY N.user_nickname, N.USER_NO
 ]]>

	</select>

	<!-- 완료봉사, 예정봉사, 포인트 획득 간소화한 정보 출력 -->

	<select id="miniPoint" parameterType="int"
		resultType="MyPageJoinDTO">

<![CDATA[
SELECT LOG_REASON, TO_CHAR(LOG_DATE, 'YYYY.MM.DD') AS logDate, CHANGE_amount
FROM TBL_LOG_POINT 
WHERE USER_NO = #{userNo} AND CHANGE_AMOUNT > 0 
ORDER BY LOG_NO DESC
]]>

	</select>
	
	
	<!-- 예정봉사 조회 미니 -->
	<select id="miniComVol" parameterType="int"
		resultType="MyPageJoinDTO">

<![CDATA[
SELECT *
FROM (
    SELECT tva.volun_act_title AS volunActTitle,
           TO_CHAR(tva.Volun_Act_Proc_Begin, 'yyyy-mm-dd') AS comVolunActProcBegin,
           TO_CHAR(tva.Volun_Act_Proc_End, 'yyyy-mm-dd') AS comVolunActProcEnd
    FROM TBL_VOLUN_ACTIVITY tva
    JOIN TBL_VOLUN_APPLY apl
      ON tva.volun_act_no = apl.volun_act_no
    WHERE apl.user_no = #{userNo}
      AND apl.VOLUNACT_APPLYSTATUS = 1
    ORDER BY tva.volun_act_no DESC
)
WHERE ROWNUM = 1
]]>

	</select>

<!-- 완료한 봉사 미니 -->	

<select id="miniFinVol" parameterType="int" resultType="MyPageJoinDTO">
<![CDATA[
SELECT *
FROM (
    SELECT 
        Volun_Act_Title AS volunActTitle,
        TO_CHAR(Volun_Act_Date, 'yyyy-mm-dd') AS finVolunActProcEnd
    FROM TBL_VOLUN_HISTORY
    WHERE User_No = #{userNo}
    ORDER BY Volun_Act_Date DESC
)
WHERE ROWNUM = 1
]]>
</select>


	<!-- 3. 내 정보 수정(일반) -->

<update id="userEdit" parameterType="MyPageJoinDTO">
UPDATE tbl_user
SET
    user_nickname = #{userNickname},
    user_email = #{userEmail}
    
    <if test="userPw != null and userPw != ''">
        , user_pw = #{userPw}
    </if>

WHERE user_no = #{userNo}
</update>


   <!-- 3. 내 정보 수정(기업)-->

   <update id="organUpdateEmail" parameterType="MyPageJoinDTO">
         UPDATE tbl_user
          SET user_email = #{userEmail}
       WHERE user_no = #{userNo}
   </update>


   <update id="organUpdatePw" parameterType="MyPageJoinDTO">
      UPDATE tbl_user
       SET user_pw = #{userPw}
       WHERE user_no = #{userNo}
   </update>




	<!-- 4. 예정된 봉사 목록 조회 -->

	<select id="comingVolunPage" parameterType="map" resultType="MyPageJoinDTO">
<![CDATA[
SELECT * FROM (
    SELECT
        ROW_NUMBER() OVER (ORDER BY tva.volun_act_no DESC) AS rnum,
        tva.volun_act_no AS volunActNo,
        tva.volun_act_title AS volunActTitle,
        TO_CHAR(tva.Volun_Act_Proc_Begin,'yyyy-mm-dd') AS comVolunActProcBegin,
        TO_CHAR(tva.Volun_Act_Proc_End,'yyyy-mm-dd') AS comVolunActProcEnd
    FROM TBL_VOLUN_ACTIVITY tva
    JOIN TBL_VOLUN_APPLY apl
        ON tva.volun_act_no = apl.volun_act_no
    WHERE apl.user_no = #{userNo}
  AND apl.VOLUNACT_APPLYSTATUS = 1
  AND tva.Volun_Act_Proc_Begin >= TRUNC(SYSDATE)
      ORDER BY comVolunActProcEnd
)
WHERE rnum BETWEEN #{startRow} AND #{endRow}

]]>
	</select>
	
<select id="comingVolunTotal" parameterType="int" resultType="int">
<![CDATA[
SELECT COUNT(*)
FROM TBL_VOLUN_ACTIVITY tva
JOIN TBL_VOLUN_APPLY apl
    ON tva.volun_act_no = apl.volun_act_no
WHERE apl.user_no = #{userNo}
  AND apl.VOLUNACT_APPLYSTATUS = 1
  AND tva.Volun_Act_Proc_Begin >= TRUNC(SYSDATE)
]]>
</select>



	<!-- 5. 완료한 봉사 목록 조회 -->

	<select id="finishVolunPage" parameterType="map" resultType="MyPageJoinDTO">
<![CDATA[
SELECT * FROM (
    SELECT
        ROW_NUMBER() OVER (ORDER BY Volun_Act_Date DESC) AS rnum,
    	Log_No AS volunActNo,
        Volun_Act_Title AS volunActTitle,
        TO_CHAR(Volun_Act_Date, 'yyyy-mm-dd') AS finVolunActProcEnd
    FROM TBL_VOLUN_HISTORY
    WHERE User_No = #{userNo}
)
WHERE rnum BETWEEN #{startRow} AND #{endRow}
]]>
	</select>
	
		<select id="finishVolunTotal" parameterType="int" resultType="int">
<![CDATA[
SELECT COUNT(*) 
FROM TBL_VOLUN_ACTIVITY tva
JOIN TBL_VOLUN_APPLY apl
    ON tva.volun_act_no = apl.volun_act_no
WHERE apl.user_no = #{userNo} 
  AND apl.VOLUNACT_APPLYSTATUS = 2
]]>
	</select>



	<!-- 6. 포인트 사용 내역 조회 -->

	<select id="minusPoint" parameterType="map"
		resultType="MyPageJoinDTO">
<![CDATA[
SELECT * FROM (
    SELECT 
        ROW_NUMBER() OVER (ORDER BY LOG_NO DESC) AS rnum,
        log_reason AS logReason,
        TO_CHAR(LOG_DATE, 'YYYY.MM.DD') AS logDate,
        change_amount AS changeAmount
    FROM TBL_LOG_POINT
    WHERE USER_NO = #{userNo} AND CHANGE_AMOUNT < 0
)
WHERE rnum BETWEEN #{startRow} AND #{endRow}
]]>
	</select>



	<!-- 7. 포인트 적립 내역 조회 -->

	<select id="plusPoint" parameterType="map"
		resultType="MyPageJoinDTO">
<![CDATA[
SELECT * FROM (
    SELECT 
        ROW_NUMBER() OVER (ORDER BY LOG_NO DESC) AS rnum,
        log_reason AS logReason,
        TO_CHAR(LOG_DATE, 'YYYY.MM.DD') AS logDate,
        change_amount AS changeAmount
    FROM TBL_LOG_POINT
    WHERE USER_NO = #{userNo} AND CHANGE_AMOUNT > 0
)
WHERE rnum BETWEEN #{startRow} AND #{endRow}
]]>
	</select>

	<select id="plusTotal" parameterType="int" resultType="int">
<![CDATA[ 
SELECT COUNT(*) FROM TBL_LOG_POINT
WHERE USER_NO = #{userNo} AND CHANGE_AMOUNT > 0
]]>
	</select>

	<select id="minusTotal" parameterType="int" resultType="int">
<![CDATA[
SELECT COUNT(*) FROM TBL_LOG_POINT
WHERE USER_NO = #{userNo} AND CHANGE_AMOUNT < 0
]]>
	</select>


	<!-- 8. 작성 글 조회 -->

	<select id="mypost" parameterType="map"
		resultType="MyPageJoinDTO">
<![CDATA[
SELECT * FROM (
    SELECT 
        ROW_NUMBER() OVER (ORDER BY tcp.post_no DESC) AS rnum,
        tcp.post_No AS postNo,
        tcp.post_title AS postTitle,
        TO_CHAR(tcp.post_Date, 'yyyy-mm-dd') AS postDate,
        tpl.post_Like_No AS postLikeNo
    FROM tbl_community_post tcp
    LEFT JOIN tbl_post_like tpl
        ON tcp.post_no = tpl.post_no
    WHERE tcp.user_no = #{userNo}
)
WHERE rnum BETWEEN #{startRow} AND #{endRow}
]]>
	</select>

	<select id="getMyPostTotal" parameterType="int" resultType="int">


		SELECT COUNT(*)
		FROM tbl_community_post
		WHERE user_no = #{userNo}

	</select>

	<!-- 9. 회원탈퇴 -->

	<update id="quit" parameterType="int">

		UPDATE tbl_user SET
		user_status = 0
		WHERE user_no = #{userNo}


	</update>




</mapper>